#formCadastro {
    height: 450px;
    width: 350px;  
    margin-top: 18px;
    margin-left: 485px;
}
mat-form-field{
    width: 100%;
}
button {
    width:100%;
    height: 40px;      
    margin-top: 16px;
    margin-bottom: 25px;
    margin-left: auto; 
}